@font-face{
  font-family: "Waltograph";
  src: url("./fonts/waltograph42.otf")
}

.App{
  display: flex;
  flex-direction: column;
  
}

.appHeader, .messageBoard{
  align-self: center;
  }

.appHeader h1{
  font-size: 3em;
}

  .form{
    align-self: center;
    }

 input, select,textarea, button {
   display: block;
   margin-bottom: 10px;
 }

 .grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}

nav{
  display: flex;
  padding: 15px;
  margin-left: 15px;
}

.nav-links {
  display: inline-flex;
  padding-right: 15px;
 
}

.error {
  display: inline;
  color: red;
}